body { margin: 0; padding: 0; }

.navbar-inner {
  background-color: lightBlue;
  background-image: -moz-linear-gradient(center top , lightBlue, #222222);
}
table.nav tr td img{
  height:30px;
  width: 30px;
  padding: 0;
}

.masthead {
  margin-bottom: 72px;
  padding-top: 36px;
}

.jumbotron {
  position: relative;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead h1, .masthead h2, .masthead p{
  text-align: center;
}
.jumbotron h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.container-fluid{
  margin-top: 40px;
}

#map{
  margin: 0;
  padding: 0;
  position: absolute;
  top:40px;
  left:0;
  width:100%;
  height:100%;
}

#map img {max-width: none;}

#map-crosshair { text-align: center;}
#map-crosshair img {
  /*display:none;*/
  z-index: 10;
  position:absolute;
  left: 50%;
  top: 50%;
  padding: 0;
  margin-top: 8px;
  margin-left: -16px;
}

#map-info {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #000;
  opacity:0.5;
  background-color: grey;
  height: 50px;
  width: 50%;
  z-index: 9999;

}