<header class="jumbotron masthead">
	<div class="inner">
		<h1>AngularJS - Google Maps</h1>
		<h2>
			<b>angular-google-maps </b>is a project of particular interest to individuals 
			working with AngularJS and would like to integrate Google Maps 
			into their project. 
		</h2>
		<p>
			<br/><br/>
			<a href="#/map" class="btn btn-primary btn-large">View Map</a>
			<br/><br/>
		</p>
		<h2>Get Involved</h2>
		<center><b>
			<a href="https://github.com/LarryEitel/angular-google-maps">Github project</a> | 
			<a href="http://angular-google-maps.nodester.com">Live on nodester</a> |
			<a href="https://groups.google.com/forum/#!topic/angular/CM8ewcWeTF4">Discussion</a></b>
		</center></b>
	</div>
</header>